.App {
  /* text-align: left;
  justify-content: left;
  margin: 0 auto; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: left;
  border: 1px solid blue;
  max-width: 350px;
  padding: 1em;
  /* height: ; */
  margin: auto;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  border: 1px solid red;
  text-align: left;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: .6em;
  width: 100%;
}

input, button {
  height: 2em;
}

button {
  width: 100%;
  font-weight: bold;
  font-size: .6em;
  background-color: #148abe;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
